@model TabloidMVC.Models.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "Index";
}

<section class="px-3">
    <div class="row justify-content-between">
        <h1 class="text-secondary">Comments</h1>
        <h1 class="text-black-50">
            @Html.ActionLink(Model.PostTitle, "Details", "Post", new { id = Model.PostId })
        </h1>
    </div>
</section>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Subject
            </th>
            <th>
                Content
            </th>
            <th>
                Author
            </th>
            <th>
                Created On
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserProfile.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDateTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>









@*@Html.DisplayFor(modelItem => item.Post.Title)*@ <!--Instead of just displaying Title have a link back to post by clicking Title-->
<!--This is the format:-->@* @Html.ActionLink(linkText, actionName, controllerName, routeValues, htmlAttributes)*@

<!--look at CommentController, we're using 'Index'' method and we pass 'postId' as parameter-->
<!--This means link is :Post title, it goes to Details page, Detail's in Post Controller, link will have route parameter PostId which specifies which specific post's details page-->
